@import "bootstrap/scss/_functions";

$primary: #FD7014;
$primary-dark: #301f14;
$secondary: #202020;
$contrast: #FF055F;
$contrast-secondary: #080d33;
$black: #161616;
$dark: #101010;
$overlay: #16161696;

@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

$custom-colors: (
  "tertiary": $gray-300,
  "primary-dark": $primary-dark,
  "contrast": $contrast,
  "contrast-secondary": $contrast-secondary,
  "dark": $dark,
  "overlay": $overlay,
  "primary": $primary,
  "secondary": $secondary,
  "black": $black,
  "white": $white
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "bootstrap/scss/bootstrap";