@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/mixins";
@import "~/node_modules/bootstrap/scss/variables";

$primary: #FD7014;
$primary-dark: #301f14;
$secondary: #202020;
$tertiary: #ced4da;
$contrast: #FF055F;
$contrast-secondary: #080d33;
$black: #161616;
$dark: #101010;
$overlay: #16161696;

$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "contrast": $contrast,
    "black": $black,
    "tertiary": $tertiary,
    "contrast-secondary": $contrast-secondary,
    "overlay": $overlay
);