@import "./typography.scss";
@import "./colors.scss";
@import "./gradients.scss";
@import "./generic.scss";
@import "~/node_modules/vue-slick-carousel/dist/vue-slick-carousel.css";

textarea, select, input, button {
    outline: none;
    -webkit-appearance: none;
    border: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
    color: #e9ecef !important;
    transition: color .3s ease;

    &:hover {
        @apply fw-bold;
        color: white !important;
    }
}

ul {
    list-style-type: none;
}

// always import bootstrap last
@import "bootstrap/scss/bootstrap";